version: "3.9"
services:
  web:
    build: .
    image: henricazottes/firefighter-api
    environment:
      MYSQL_HOST: mariadb
      MYSQL_PORT: 3306
      DB_NAME: ${DB_NAME:-firefighter_api}
      DB_USER: ${DB_USER:-springuser}
      DB_PASSWORD: ${DB_PASSWORD:-springpassword1234}
    depends_on:
      - delayed_db
    ports:
      - "8080:8080"

  delayed_db:
    image: bash:5.1.4
    entrypoint: ["sleep", "4"]
    depends_on:
      - db

  db:
    image: mariadb
    container_name: mariadb
    restart: always
    environment:
      MYSQL_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-rootpwd1234}
      MYSQL_USER: ${DB_USER:-springuser}
      MYSQL_PASSWORD: ${DB_PASSWORD:-springpassword1234}
      MYSQL_DATABASE: ${DB_NAME:-firefighter_api}
    volumes:
      - mariadb:/var/lib/mysql
      - type: bind
        source: ./src/db/setup.sql
        target: /docker-entrypoint-initdb.d/data.sql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  mariadb:
